<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<% if(type == "Admin"){%>
<%- include('../partials/admin_sidebar.ejs')%>
<%}else if(type == "Member"){ %>
<%- include('../partials/member_sidebar.ejs')%>
<% } %>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Car List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Car List</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>




            <!-- <div class="card-box mb-30" style="float: right; padding-right: 20px; padding-top: 20px;">
                <a href="/user/create">
                    <button type="button" class="btn btn-primary">Primary</button>
                </a>
             </div> -->



            <div class="card-box mb-30">
                <div class="pd-20">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Rental List</h4>

                        </div>

                        <div class="pull-right">
                            <a href="/home/blogs/create">
                                <button type="button" class="btn btn-primary">Create Blog</button>
                            </a>
                        </div>

                    </div>

                </div>
                <hr class="my-4">

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
        
                    <!--Controls-->
                    <div class="controls-top">
                        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                                class="fa fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                                class="fa fa-chevron-right"></i></a>
                    </div>
                    <!--/.Controls-->
        
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example" data-slide-to="1"></li>
                        <li data-target="#multi-item-example" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
        
                    <!--Slides-->
                    <% for(var i=0; i< userlist.length; i++ ){ %>
                    <div class="carousel-inner" role="listbox">
        
                        <!--First slide-->
                        <div class="carousel-item active">
        
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top"
                                            src="<%= userlist[i].image %>"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title"><%= userlist[i].title %></h4>
                                            <p class="card-text"><%= userlist[i].description %></p>
                                            
                                        </div>
                                    </div>
                                </div>
        
        
                            </div>
        
                        </div>
                        <!--/.Third slide-->
        
                    </div>
                    <% } %>
                    <!--/.Slides-->
        
                </div>
                <!--/.Carousel Wrapper-->
                
            </div>
        </div>
    </div>
</div>







