<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<% if(type == "Admin"){%>
<%- include('../partials/admin_sidebar.ejs')%>
<%}else if(type == "Member"){ %>
<%- include('../partials/member_sidebar.ejs')%>
<% } %>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Car List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Car List</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>




            <!-- <div class="card-box mb-30" style="float: right; padding-right: 20px; padding-top: 20px;">
                <a href="/user/create">
                    <button type="button" class="btn btn-primary">Primary</button>
                </a>
             </div> -->



            <div class="card-box mb-30">
                <div class="pd-20">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="text-blue h4">Car List</h4>

                        </div>
                        <% if(type == "Admin"){%>
                        <div class="pull-right">
                            <a href="/home/cars/create">
                                <button type="button" class="btn btn-primary">Add Car</button>
                            </a>
                        </div>
                        <%}else if(type == "Member"){ %>

                        <% } %>


                    </div>

                </div>

                <div class="pb-20">

                    <table class="table hover data-table  nowrap ">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Image</th>
                                <th>Model Name</th>
                                <th>Type</th>
                               
                                <th>Rent Price<small>(per day)</small></th>

                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i< userlist.length; i++ ){ %>
                            <!-- <a href="/supAdmin_home/admin/edit/<%=userlist[i].id%>"> -->
                                <tr>
                                    <td class="table-plus"><img class="card-image" src="<%= userlist[i].image %>"
                                            style="display: flex;height: 100px; width: 100px;"></img></td>
                                    <td>
                                        <a href="/home/cars/view/<%=userlist[i].id%>"><%= userlist[i].name %></a>
                                    </td>
                                    <td><%= userlist[i].type %></td>
                                    
                                    <td><%= userlist[i].rentprice %></td>
                                 

                                    <td>


                                        <div class="dropdown">
                                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                                href="#" role="button" data-toggle="dropdown">
                                                <i class="dw dw-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                

                                                <% if(type == "Admin"){%>
                                                    <a class="dropdown-item" href="/home/cars/edit/<%=userlist[i].id%>"><i class="icon-copy fa fa-edit" aria-hidden="true"></i></i> Update</a>

                                                    <a class="dropdown-item" href="/home/cars/delete/<%=userlist[i].id%>"><i class="icon-copy fa fa-trash" aria-hidden="true"></i> Delete</a>

                                                    <%}else if(type == "Member"){ %>
                                                        <a class="dropdown-item" href="/home/cars/view/<%=userlist[i].id%>"><i class="dw dw-eye"></i> View</a>

                                                    <% } %>
                                            </div>
                                        </div>

                                    </td>

                                </tr>
                            <!-- </a> -->
                            <% } %>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>