<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<% if(type == "Admin"){%>
<%- include('../partials/admin_sidebar.ejs')%>
<%}else if(type == "Member"){ %>
<%- include('../partials/member_sidebar.ejs')%>
<% } %>
<div class="main-container">
	<h1>Welcome</h1>
	<div class="container my-4">



		<hr class="my-4">

		<!--Carousel Wrapper-->
		<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

			<!--Controls-->
			<div class="controls-top">
				<a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
						class="fa fa-chevron-left"></i></a>
				<a class="btn-floating" href="#multi-item-example" data-slide="next"><i
						class="fa fa-chevron-right"></i></a>
			</div>
			<!--/.Controls-->

			<!--Indicators-->
			<ol class="carousel-indicators">
				<li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
				<li data-target="#multi-item-example" data-slide-to="1"></li>
				<li data-target="#multi-item-example" data-slide-to="2"></li>
			</ol>
			<!--/.Indicators-->

			<!--Slides-->
			<% for(var i=0; i< userlist.length; i++ ){ %>
			<div class="carousel-inner" role="listbox">

				<!--First slide-->
				<div class="carousel-item active">

					<div class="row">
						<div class="col-md-4">
							<div class="card mb-2">
								<img class="card-img-top"
									src="<%= userlist[i].image %>"
									alt="Card image cap">
								<div class="card-body">
									<h4 class="card-title"><%= userlist[i].name %></h4>
									<p class="card-text"><%= userlist[i].description %></p>
									<% if(type == "Admin"){%>
										<a class="btn btn-warning" href="/home/cars/edit/<%=userlist[i].id%>" ><i class="icon-copy fa fa-edit" aria-hidden="true"></i></i> Update</a>

										<a class="btn btn-danger" href="/home/cars/delete/<%=userlist[i].id%>"><i class="icon-copy fa fa-trash" aria-hidden="true"></i> Delete</a>

										<%}else if(type == "Member"){ %>
											<a class="btn btn-info" href="/home/cars/view/<%=userlist[i].id%>"><i class="dw dw-eye"></i> View</a>

										<% } %>
								</div>
							</div>
						</div>


					</div></br>

				</div>
				<!--/.Third slide-->

			</div>
			<% } %>
			<!--/.Slides-->

		</div>
		<!--/.Carousel Wrapper-->


	</div>
</div>