
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<% if(type == "Admin"){%>
<%- include('../partials/admin_sidebar.ejs')%>
<%}else if(type == "Member"){ %>
<%- include('../partials/member_sidebar.ejs')%>
<% } %>


<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Edit  Admin</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">View  Cars</li>
							</ol>
						</nav>
					</div>

				</div>
			</div>



			
			
			

			<div class="pd-20 card-box mb-30">

				<div class="clearfix">
					<h4 class="text-blue h4">View Car </h4>

				</div>


				<form  method="POST" enctype="multipart/form-data">
					
					<div class="form-group">
                        <label > Name</label>
                        <label class="form-control" type="text" name="name" ><%= member.name %></label>
                    </div>

                    <div class="form-group">
                        <label >Email</label>
                        <label class="form-control" type="email" name="email" ><%= member.email %></label>
                    </div>
                    <div class="form-group">
                        <label >Description</label>
                        <label class="form-control" type="text" name="mobile" ><%= member.mobile %></label>
                    </div>
                   
                    <div class="form-group">
                        <label >Car Type</label>
                        <label class="form-control" type="text" name="address" ><%= member.address %></label>
                    </div>
                    
                    <div class="form-group">
                        <label >Car Type</label>
                        <label class="form-control" type="text" name="gender" ><%= member.gender %></label>
                    </div>
                    <div class="form-group">
                        <label >Image</label></br>
                        <img src="<%= member.image %>" alt="">

                    </div>
                    <div class="col-md-12 col-sm-12 mb-30">

                        <div class="pd-20 card-box height-100-p">
                            <div class="btn-list" style="float: right;">
                                <!-- <button type="button" class="btn btn-outline-dark">Reset</button> -->
                             

                                <button type="submit" class="btn btn-outline-danger"><i class="icon-copy fa fa-trash" aria-hidden="true"></i> Delete</button>
                               


                            </div>
                        </div>
                    </div>
				</form>



			</div>



		</div>
	</div>
</div>